<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @{
        ViewBag.Title = "Social Engineering - Page 2";
    }
    <title>@ViewBag.Title</title>
    </head>
<body>
    <h2><u>A look at Social Engineering</u></h2>
    <p class="lead">Here we will look at Social Engineering in general, why it's so effective and a high profile case of an attack. As well as explaining the life cycle of Social Engineering.</p>
    <br />
  
       
   >
    <div class="col-md-8">

        <p>
            Social Engineering is effective because the techniques used are based on certain attributes of human decision making which are known as Cognitive Biases.Cherry (2020) gives the definition of a cognitive bias stating that "A cognitive bias is a systematic error in thinking that affects the decisions and judgments that people make." Cognitive Bias is a flaw all humans share and this is what Social Engineering attacks exploit. Cognitive Bias occurs as a result of your brain's attempt to simplify information processing. There are different types of cognitive bias's such as: Confirmation Bias, Anchoring Bias and The Dunning-Kruger Effect. There is a lot of information online about these Biases and how they effect the mind but that is beyond the scope of this module, all we need to know is that attackers commonly create attacks which exploit these biases so they can get the Data or disruption that they want.
            To be successful Social Engineering relies on six principles of influence established by Robert Cialdini.
        </p>
        <h3><u>The Six Principles</u></h3>
        <dl>
            <dt>Reciprocity</dt>
            <dd>- If someone is done a favour they tend to reciprocate and is a good tool for social engineering</dd>
            <dt>Commitment and Consistency</dt>
            <dd>- Similar to the previous principle if people commit verbally or in writing they are more likely to honor the commitment because they have stated the goal fits their self image or goal</dd>
            <dt>Social Proof</dt>
            <dd>- Similar to a herd mentality, people will tend to do things that other people are doing.</dd>
            <dt>Authority</dt>
            <dd>- People usually obey authority figures even if the figure asks them to perform immoral or questionable acts.</dd>
            <dt>Liking</dt>
            <dd>- People are more easily persuaded by people that they like. This also counts for sexual or romantic attraction.</dd>
            <dt>Scarcity</dt>
            <dd>- Percieved lack of time or items generates demand. Similar to limited time only sales.</dd>
        </dl>
    </div>
    <div class="col-md-12">
        <p>Now that you know these principles you can keep an eye out for them in your workplace or outside of work. Which leads onto the next point about Security Culture in the workplace. </p>
        <h2><u>Security Culture in the Workplace</u></h2>
        <p>
            Employee behaviour is a major factor in Information security culture if they have a care free "thats not my problem" attitude then it has a big effect on information security.
            Lim, Chang, Maynard and Ahmad (2009) provide the following definition of information security culture: "ISC is the totality of patterns of behavior in an organization that contribute to the protection of information of all kinds."
            The ISC needs to be continuously improved and this can be achieved through 5 steps:Pre-evaluation, strategic planning, operative planning, implementation, and post-evaluation. Employees in their organisation have a duty to protect their workplace
            and follow appropriate security protocols set up by their I.T team as well as becoming aware of other dangers. Frank Abagnale (a notorious Social Engineer) highlights in an interview with Wired that security culture in the workplace is paramount he said this in the interview "Every case involving cybercrime that I've been involved in, I've never found a master criminal sitting somewhere in Russia or Hong Kong or Beijing. It always ends up that somebody at the company did something they weren't supposed to do. They read an email, went to a website they weren't supposed to. So they opened the door that allowed the person to get in. It's not that these people are that talented but they wait knowing that with a company of 10,000 employees someone is bound to open the door. They just wait for that door to be open."(Solon, 2017)
            By looking into these modules and reading them you are taking some steps to help prevent situations like this.


        </p>
    </div>
    <div class="col-md-12">
        <h2><u>Case Study: A look at Frank Abagnale</u></h2>
        <img class="img-responsive" src="~/images/frank.jpeg" alt="a Portrait of Frank and DiCaprio for the Film about his life">
        <p>
            Firstly a bit about Frank and his life and what made him a notable social engineer. He began his journey in New York and grew up there whilst he was young. However, when he turned 15 is when his Social engineering and conman journey began. He was given a credit card for fuel and a truck by his father. "Abagnale devised a scheme in which he used the gasoline card to "buy" tires, batteries, and other car-related items at gas stations and then asked the attendants to give him cash in return for the products. Ultimately, his father was liable for a bill amounting to $3,400, equivalent to $28,394 in 2019. Abagnale was only 15 at the time."(Bell, n.d.)
            As he grew older he started to create fraudulent checks and defraud banks which worked very well. Although it wasn't just his ability to swindle banks that made him infamous but his ability to impersonate and is something you should think about further. Padgett (2014) discusses in his book a situation where Abagnale impersonated a guard and made a lot of money with a very simple trick. "Abagnale described an occasion when he noticed the location where airlines and car rental businesses, such as United Airlines and Hertz, would drop off their daily collections of money in a zip-up bag and then deposit them into a drop box on the airport premises. Using a security guard disguise he bought at a local costume shop, he put a sign over the box saying "Out of Service, Place deposits with security guard on duty" and collected money in that manner. Later he disclosed how he could not believe this idea had worked, stating with some astonishment: "How can a drop box be out of service?""
            Frank also had a movie made about his life and experience it is not fully accurate but is pretty close to how he experienced it. It's called Catch me if you Can and it was made in 2002 by Stephen Spielberg with Leonardo Dicaprio starring as Abagnale, if you want some extra viewing and to gain some more insight into him then I definitely recommend viewing it.

        </p>
        <br />
        <p>
            Some of his other disguises have included: Airline Pilot, Teaching Assistant, Physician and Attorney. He was able to get into places he should not have gone and perform actions he was not qualified to perform such as flying a plane. He is now a security consultant and frequently warns of Cybersecurity threats. To be a conman back in early 2000's you had to have a certain charm and ability to impersonate well and get away with fraud like he did but he now knows that its so much easier to scam and perform Social Engineering attacks due to the rise of the information age which is encompassed by the development of technology with better hardware and smartphones and the internet. However he specialised more in fraud and impersonation which has now changed dramatically. Whilst physical Social Engineering attacks such as impersonating a guard or employee can still happen they are very rare. This is mostly due to a wide variety of physical security with personalised key card access levels, CCTV and even Biometric locks.

            The Social Engineering attacks that you may face in and out of the workplace will mostly always happen online.
        </p>
    </div>
    <footer>
        <div class="col-md-12">
        <h2><u>References</u></h2>
        <p>Cherry, K., 2020. How Cognitive Biases Influence How You Think And Act. [online] Verywell Mind. Available at: https://www.verywellmind.com/what-is-a-cognitive-bias-2794963 [Accessed 31 March 2020].</p>
        <br />
        <p>Lim, J., Chang, S., Maynard, S. and Ahmad, A., 2009. Exploring The Relationship Between Organizational Culture And Information Security Culture. [ebook] Perth: Edith Cowan University, p.88. Available at: "https://ro.ecu.edu.au/cgi/viewcontent.cgi?article=1011&context=ism" [Accessed 31 March 2020].</p>
        <p>Solon, O., 2017. Frank Abagnale On The Death Of The Con Artist And The Rise Of Cybercrime. [online] Wired.co.uk. Available at: https://www.wired.co.uk/article/frank-abagnale [Accessed 10 April 2020].</p>
        <p>Bell, R., n.d. Skywayman: The Story Of Frank W. Abagnale Jr.. [online] truTV. Available at: https://web.archive.org/web/20090831063625/http://www.trutv.com/library/crime/criminal_mind/scams/frank_abagnale/2.html [Accessed 10 April 2020].</p>
        <p>Padgett, S., 2014. Profiling The Fraudster. 1st ed. Hoboken, New Jersey: John Wiley & Sons, p.Page 159.</p>
        <br />
        </div>
        <div>
            <div class="col-md-12">
            <ul class="pagination pagination-lg">
                <li class="page-item">
                    <a class="page-link" onclick="location.href='@Url.Action("SocialEngineering", "SocialEngineering")'">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" onclick="location.href='@Url.Action("SocialEngineering", "SocialEngineering")';return false;">1</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringTwo", "SocialEngineering")';return false;">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringThree", "SocialEngineering")';return false;">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringFive", "SocialEngineering")';return false;">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringThree", "SocialEngineering")';return false;">&raquo;</a>
                </li>
            </ul>
                </div>
        </div>
    </footer>

    </body>
</html>