
@{
    ViewBag.Title = "SocialEngineeringThree";
}
<title>Social Engineering - Page 3</title>

<h1><u>The types of Social Engineering Attacks and how they work</u></h1>

<p class="lead">There are multiple forms of Social Engineering attacks but there are four common attacks which are very effective. These are: Phishing, Vishing, Impersonation and Smishing. </p>

<hr />  

<h2><u>Phishing</u></h2>
<div class="col-md-12">
    <img class="img-responsive" src="~/images/Fishing.jpg" alt="Image of fishing">
    <p>
        Phishing (not to be confused with fishing) is the most common technique and you are likely to have had an attempt come through your email inbox at some point in time. Phishing is used to fraudulently get confidential information.
        The Phisher sends an e-mail claiming to be a company (typically a bank) requesting confirmation of personal details. To make them panic and comply there is usually a warning of dire consquences should they fail to comply with the "verification". The email will contain a link
        to a page that looks legitimate with the appropriate company logo and form layout. The form will have multiple fields to fill out which will include personal details and credit card information. Usually these emails are sent on a mass scale and even if they get a 1% success rate they can still gain a lot of data and money.
    </p>
    <br />
    <h2><u>Vishing</u></h2>
    <img class="img-responsive" src="~/images/Vishing.png" alt="Image of a phone">
    <p>A play on words of Phishing. Vishing is known as Voice Phishing and is not as common as phishing and for this reason it can catch people off guard. Where there is some sort of social engineering process taking place over the phone to gain financial information and private information. It can also be used by attackers to 'scout' an organisation and gain information on a targeted company.</p>
    <h2><u>Smishing</u></h2>
    <p>
        Another form of Phishing but as you may have guessed by now it is Text Message(SMS) Phishing. It is used to lure victims into providing information again usually through a link or request to respond to the text. This has started to become more commonplace and is so effective because people do not expect to recieve a text message like that and catches people off guard like Voice Phishing. Similar to the other Phising methods its intent is to cause panic and give a call to action which is to click on a link or perform an action.
        I myself have been a target of a Smishing attack where I recieved a text from my local council claiming I had not paid some council tax with a link to a web page where I would enter my details. I deleted the contact but the name shown was "COUNCIL" and the page was very convincing with using West Sussex's Logo and site layout. I do not have a screenshot of this as I deleted the message and blocked the contact but there was a recent high profile Smishing campaign to scam Verizon customers. It was very convincing and would ask for a lot of sensitive data, there is a How-to Geek article which explains how sophisticated it was and why it's effective which you can look at by using the reference section but here is an image from Hoffman(2020) who wrote the article and it showcases what a Smishing attack might look like.
    </p>
    <img class="img-responsive" src="~/images/verizon-1.png" alt="image of the Verizon Smishing attack" />
    <h2><u>Impersonation</u></h2>
    <img class="img-responsive" src="~/images/tailgating.jpg" alt="Image of Tailgating">
    <p>Simply put where someone impersonates a contractor or employee through voice, text or physical appearance in order to gain physical access to a building or a system. Not as commonplace as the other attacks but as we have seen in the Case Study on Frank Abagnale it can work very well and give the perpatrator direct access to sensitive and vulnerable systems. Once they're in the system or building the attack is usually succeeds and causes a significant amount of damage to the system and the business financially. This attack can also tie in with Tailgating where they seek access to a restricted area that may be locked by something like electronic access control by simply walking in behind someone who has legitmate access the victim may also hold the door open as courtesy or the attacker will ask them to hold it. Dependant upon the impersonation the victim who has access may or may not ask for identification and the attacker could show and get away with a fraudulent ID if the attacker has done enough research on their physical security and knows how the employees are identified.</p>
</div>
<br />
<h2><u>Other Attacks</u></h2>
<div class="col-md-12">
    <p>
        The four attacks described above are the most commonly used attacks but there are some other concepts and attacks that are also used and are worth learning about in addition to the other attacks.
    </p>
    <h3>Pretexting</h3>
    <p>Pretexting is similar to impersonation but instead a scenario is created to convince victims of the attack that they are someone they can trust and to divulge information that they should not divulge. The attacker would prepare to answers to questions that may be asked about the scenario by victims to convince them to divulge data. The reason why it occurs a lot less than other attacks is because it's extremly difficult to pull off, Pretexting in a face to face encounter even more so.
    Verbal pretexting attacks over the phone are the easiest as you have to focus on verbal mannerisms and a face to face attack requires the individual to focus on body language and voice. Pretexting is used against companies and corporations that hold client data such as banks and utility companies. Usually the attacker will call the company and gain access to the victims account by using information about the victim they have found through social media or dumpster diving. This information could be account number, address, and mother's maiden name for example.'
    </p>
    <br />
    <h3>Spear Phishing</h3>
    <p>Like pretexting a less common attack where instead of a mass phising attempt to multiple email addresses like trying to spear a fish in a lake or river the attackers will send a few highly personalised emails to a few individuals which requires more research about the victims. Spear Phishing is more effective than normal Phishing most likely due to the extra research and effort put in to trick the victim. FireEye (n.d.) says that "People open 3% of their spam and 70% of spear-phishing attempts. And 50% of those who open the spear-phishing emails click on the links within the email—compared to 5% for mass mailings—and they click on those links within an hour of receipt. A campaign of 10 emails has a 90% chance of snaring its target." which shows just how more effective that these Spear Phishing attacks are. However its success is dependant upon the amount and quality of OSINT (open source intelligence e.g social media) the attackers obtain. </p>
    <br />
    <h3>Water Hole Attack</h3>
    <p>
        A water hole attack is carried out against an organisation or industry. The attackers guesses or finds out which websites that the organisation or industry uses regularly and infects one of those sites. In the hopes eventually that one of the individuals in the organisation fall prey to the attack. One example of an attack was a Chinese hacker group targeting another Asian government using this attack. Khandelwal(2018) says that "the group chose a national data center as its target from an unnamed country in Central Asia in an attempt to gain "access to a wide range of government resources at one fell swoop."
        According to the researchers, the group injected malicious JavaScript code into the official government websites associated with the data center in order to conduct watering hole attacks." As stated previously with these kinds of attacks eventually it works and someone opens the door to the attack which is what happened in this case and the group infected the system with a RAT (Remote Access Trojan) called HyperBro which
        allows access to the system remotely. Now that they had access and the goverment sites were compromised they redirected visitors to a keylogger or to something called BeEF which allowed the hackers to search for vulnerabilites in the browsers of the sites visitors. When this kind of attack has been pulled off it has been successful but is always shut down relatively quickly by the targeted organisation and is a good one to know but it would be rare you would come accross it or be able to prevent an attack of this kind.
    </p>
    <h3>Baiting</h3>
    <p>
        Baiting preys on the curiosity of humans and attackers will leave physical media such as CD's, USB Sticks or even hard drive's with interesting labels on them to convince the user to plug it into the system and see what is on that device. Abagnale discussed baiting and its effectiveness in his interview with Solon (2017) where he would go perform seminars or activities with companies and leave USB sticks around the building with a label on it saying "confidential" and some of the employees would pick them up and plug them into their PC as they're curious as to what the confidential information is then when the USB is connected the person who inserted it is greeted with a message that says "This is a test and you failed." Abagnale really hammers home the point and says that "Most of the time when there's a security breach at a company it's because someone was doing something they were not supposed to do. You always have a human link that's the failure."Solon (2017)
        However this point applies to all the other techniques discussed in this section and most of the time these attacks succeed because of human error. Baiting is a concept you must be aware of as it's very effective and simply being aware of it will mean you know not to insert these drives into your own computer or a company computer but to instead report it or hold it just in case it is a genuine missing drive (although this is unlikely but it will depend on your institution) or destroy it/throw it away. A study was done on baiting by the University of Illinois where they left 296 USB drives with enticing labels at different 'hotspot' locations around the campus most notably "parking lots, hallways, academic areas (e.g., classrooms or libraries), common areas (e.g., building
        lobbies or cafeterias), and outside (e.g., sidewalks)."(Tischer et al., 2016) These drives would have different labels and some would be attatched to a set of keys but the most important thing in this paper to note is the results which (Tischer et al., 2016) state that  Participants opened one or more files on 135 of the 297 flash drives (45%) and 290 of the drives (98%) were removed from their drop locations by the end of our observation period. It is not clear if users plugged in the remaining 155 drives— a participant might have plugged in a drive without opening a file
        or simply might not have had connected the drive. Which is a staggering number of people that fell for this baiting attack and gave the attack a "success rate to be between 45–98%." There will be a link to the paper in the references section below if you wish to read further as they did several questionnaires and stated some more results and hypothesis as to why they got the results that they did. Due to these results I thought Baiting needed to be addressed as it is a very underlooked technique and effective as shown by that report.
    </p>
    <br />  
    <hr />
    <p> In this section we have gone over the key social engineering attacks and some less common attacks that occur. Whilst there are a few other concepts and attacks such as fraud and quidproquo the attacks detailed on this page are the ones that you should know due to their effectiveness and commonality. The section on the next page will briefly detail how to combat some of these techniques and attacks.</p>
</div>














<footer>
    <div class="col-md-12">
        <hr />
        <h2><u>References</u></h2>
        <p>Hoffman, C., 2020. Watch Out: This Verizon Smishing Scam Is Crazy Realistic. [online] How-To Geek. Available at: https://www.howtogeek.com/657333/watch-out-this-verizon-smishing-scam-is-crazy-realistic/ [Accessed 10 April 2020].</p>
        <p>FireEye. n.d. How To Prevent Spear-Phishing Attacks | Fireeye. [online] Available at: https://www.fireeye.com/current-threats/best-defense-against-spear-phishing-attacks.html [Accessed 11 April 2020].</p>
        <p>Khandelwal, S., 2018. Chinese Hackers Carried Out Country-Level Watering Hole Attack. [online] The Hacker News. Available at: https://thehackernews.com/2018/06/chinese-watering-hole-attack.html [Accessed 12 April 2020].</p>
        <p>Tischer, M., Durumeric, Z., Foster, S., Duan, S., Mori, A., Bursztein, E. and Bailey, M., 2016. Users Really Do Plug In USB Drives They Find. [ebook] Illinois: University of Illinois, Google, pp.p2, p4. Available at: https://zakird.com/papers/usb.pdf [Accessed 12 April 2020].</p>
    </div>

    <div>
        <ul class="pagination pagination-lg">
            <li class="page-item ">
                <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringTwo", "SocialEngineering")'">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" onclick="location.href='@Url.Action("SocialEngineering", "SocialEngineering")';return false;">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringTwo", "SocialEngineering")';return false;">2</a>
            </li>
            <li class="page-item active">
                <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringThree", "SocialEngineering")';return false;">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringFour", "SocialEngineering")';return false;">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringFive", "SocialEngineering")';return false;">5</a>
            </li>
            <li class="page-item">
                <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringFour", "SocialEngineering")';return false;">&raquo;</a>
            </li>
        </ul>
    </div>
</footer>