
@{
    ViewBag.Title = "SocialEngineeringFour";
}

<style>
    .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    }

    /* Then style the iframe to fit in the container div with full height and width */
    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
</style>
<title>Social Engineering - Page 4</title>

<h1><u>How to prevent and protect against Social Engineering Attacks</u></h1>

<p class="lead">Similar to the last section there will be a list of each attack and the preventative measures will be discussed. Being aware of preventative measures will make your employers and yourself forever glad you read through these sections and kept yourself and your data/money secure. As the old saying goes - "Better to be safe than sorry".</p>

<h2><u>How you can prevent attacks</u></h2>
<div class="col-md-12">
    <h3>Phishing Prevention</h3>
    <p>Phishing emails have become a major factor in carrying out malware and ransomware attacks so follow these steps to help protect as much of a system as possible.</p>
    <dl>
        <dd>- Firstly slow down when confronted with an email that makes you panic they are engineered for this reason so that you act fast and think later and by then it's too late never let their sense of urgency or message infleuence you.</dd>
        <dd>- Do not open Emails in the spam folder (unless you're expecting one there) or emails from recipients you do not know.</dd>
        <dd>- Do not open attachments in these emails if you do open them as these can infect your system with malware.</dd>
        <dd>- Ensure your pc or your organisation have reputable anti-virus software.</dd>
        <dd>- Install or ask for a spam and virus email filter, these are becoming better as they continue to be developed and can stop a lot of phishing attempts before they even reach your inbox.</dd>
        <dd>- Backup often to an external drive or to the cloud. If you backup to an external drive ensure to disconnect the drive afterwards as some malware is known to encrypt backup drives.</dd>
        <dd>- Be wary of enticing subject lines in an email for example 'TAX PAYMENT DUE' or 'I think you'll like this.'</dd>
        <dd>- Look out for the SSL certificate in the addrress bar of your browser if you have clicked on a link, this will show a padlock next to the web address.</dd>
    </dl>
    <p>Whilst a spam filter might save the majority of employees if you are a manager or have higher levels of access to data than other employees then you are likely to be a target of a spear phishing attack. You most likely have had security awareness training already but </p>
    <hr />
    <h4>Spear Phishing prevention</h4>
    <p> Since the security protocols at your organisation are likely strict and there are many anti-malware and anti-spam filters in place the best thing you can do to prevent spear phishing is to recognise what these types of emails look like. With Spear Phishing they have been able to gather information on you or your organisation which is what makes them so convincing. The points below will show you what to look out for in emails. </p>
    <dl>
        <dd>- Unless you are expecting it a request to download a file or provide sensitive information is not typically done by email and is a big indicator of a spear phishing email.</dd>
        <dd>- An email format that is different from what is usually sent by that person or organisation. Whilst the attackers will try and get it as accurate as possible there may be a difference in format which can give it away. </dd>
        <dd>- The senders email address does not match the domain name of the organisation they claim to be from.</dd>
        <dd>- The content within the email is out of character for the sender or the email is from a recipient who does not usually send you emails.</dd>
        <dd>- Do not fall for baiting scams if an offer sounds to good to be true such as £500,000 to be won then its usually a bait to get you to click on a link and provide details.</dd>
    </dl>
    <br />
    <h3>Vishing Prevention</h3>
    <p>Vishing is where the attackers will try and get you to divulge information or take an action that compromises your data over the phone or through a VOIP service like Skype. They will typically claim to be from a companies IT or Finance department. Here are the best tips to avoid being a victim of these attacks.</p>
    <dl>
        <dd>- Security or IT will not call you to request your logins, account details or passwords or to change them. Refuse to give it to them and hang up, if at work make sure you inform security.</dd>
        <dd>- Be wary of voicemails that are left that say "your account has been compromised, please call this number to reset your password" or something along the lines your bank  as they are usually worded to make you panic and call their number back</dd>
        <dd>- If the person on the phone no matter what organisation they are from whether they're your bank or a business if they ask for personal information or data then refuse to give it to them.</dd>
        <dd>- If in doubt hang up and call the organisation's office directly the organisation will not be angry if you are cautious. A good method is when you call the office ask for the person who spoke on the phone again this will confirm if the call is legitimate or not since its easy for scammers to fake their caller ID.</dd>
        <dd>- Another good technique for your personal number or skype account is to register with the National Do not Call registry which can be done through their website. Legal telemarketers will not want to break the law if you are on the list and get a call from a 'telemarketer' from some organisation then it can be a good indicator that the call is from a criminal. Although some marketers do ignore the list but this rare and the donotcall site allows you to make complaints about these people but assume most of the time it is a criminal and do not disclose any personal informational and hang up.</dd>
    </dl>
    <br />
    <h3>Smishing Prevention</h3>
    <p>Smishing can catch people off guard and people do not expect an attack through a text message but here are some ways you can help prevent becoming a victim of a smisher and practically handing them all your bank account details.</p>
    <dl>
        <dd>- Regard urgent security, payment alerts or act now coupons as a warning sign of a smishing attempt. </dd>
        <dd>- No Bank or institution will text you asking to update your account details or confirm you credit card information if you get a text like this and there is a link that they ask you to click on then do not do so. If in doubt similar to Vishing then call the institution.</dd>
        <dd>- Do not reply or click on a link in a text if you do not know who its from. If you reply they know the number is active then they will try and conduct another attack.</dd>
        <dd>- Do not store Banking information, credit card details or passwords on your phone. If data like that is not on your phone then they cannot do much if they do manage to slip malware onto your smartphone if you clicked on a link.</dd>
    </dl>
    <br />
    <h3>Impersonation Awareness</h3>
    <p>Follows similar steps to Phishing methods as they can claim to be someone you know or a business.</p>
    <dl>
        <dd>- When moving around the company property or buildings when going through restricted area's try and notice if people are wearing ID or if you recognise them. This will also help prevent tailgating. If in doubt ask for ID.</dd>
        <dd>- Similar to previous points always call up or contact the individual or company directed if you are in doubt as this will confirm whether the email is a scam (99% of the time it will be).</dd>
    </dl>
    <br />
    <h3>Preventing Watering Hole Attacks</h3>
    <p>This one is more difficult to defend against and is mostly a concern in your workplace but there are still some prevention methods you can implement for your own PC or smartphone.</p>
    <dl>
        <dd>- Keep all software including your operating system up to date. I know it can be annoying when you are trying to do something and a programme asks you to update but a water hole attack usually exploits vulnerabilities in software so having up to date software reduces this risk. The WannaCry Cyber attack was a result of not having updated software. "The report said NHS trusts had not acted on critical alerts from NHS Digital and a warning from the Department of Health and the Cabinet Office in 2014 to patch or migrate away from vulnerable older software." (NHS trusts 'at fault' over cyber-attack, 2017)</dd>
        <dd>- Install a VPN as watering hole attacks prey on websites you frequently visit. If they cannot see your activity they cannot set up an attack. Not using Social Media at work is also a good idea as these are used to frequently share links to infected sites by hacking someones account or profile. You can install a VPN on your browser on Chrome this is done through the chrome extension store. If you are using a different browser then search how to install this, a free VPN is more than adequate do not be shoehorned into purchasing or feel you need to buy one.</dd>
    </dl>
    <br />
    <p> Here is a video by Google giving a basic summary of what you have learnt so far.</p>
    <div class="container">
    <iframe class="responsive-iframe" src="https://www.youtube-nocookie.com/embed/XEtvwzN_xJk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<hr />
<div class="col-md-12">
    <h2><u>How Organisations should help prevent Attacks.</u></h2>
    <p> Knowing how to prevent these attacks can help stop you falling prey to some of them at home or at work like a phishing attack however your employer or organisation also has a duty to train and inform their employee's of some of the dangers. </p>
    <dl>
        <dd>- Companies should have some kind of awareness and Cybersecurity training programme. Ensure that you take it and absorb the knowledge and if they do not then request one. (They will thank you later.)</dd>
        <dd>- Installing and regularly updating anti-phishing and anti-spam filters for emails is a must. Office 365 offer a service for this.</dd>
    </dl>
    <p>Most of these attacks come through email to help prevent this companies should have Domain-Based Message authentication reporting and conformance (DMARC) rules. It consists of two technologies these are called Sender Policy Framework (SPF) and Domain Keys Identified Mail (DKIM). "SPF is a DNS-based filtering control that helps to identify spoofed messages and DKIM involves the use of an encrypted signature to verify the sender’s identity. That signature is created using the organization’s public key and is decrypted using the private key available to the email server." (An Easy Way to Block Email Impersonation Attacks on Businesses - SpamTitan, 2019) </p>


    </div>




    <footer>
        <div class="col-md-12">
            <hr />
            <h2><u>References</u></h2>
            <p>BBC News. 2017. NHS Trusts 'At Fault' Over Cyber-Attack. [online] Available at: https://www.bbc.co.uk/news/technology-41753022 [Accessed 13 April 2020].</p>
            <p>SpamTitan. 2019. An Easy Way To Block Email Impersonation Attacks On Businesses - Spamtitan. [online] Available at: https://www.spamtitan.com/blog/an-easy-way-to-block-email-impersonation-attacks-on-businesses/ [Accessed 13 April 2020].</p>
        </div>

        <div>
            <ul class="pagination pagination-lg">
                <li class="page-item ">
                    <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringThree", "SocialEngineering")'">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" onclick="location.href='@Url.Action("SocialEngineering", "SocialEngineering")';return false;">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringTwo", "SocialEngineering")';return false;">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringThree", "SocialEngineering")';return false;">3</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringFour", "SocialEngineering")';return false;">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringFive", "SocialEngineering")';return false;">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" onclick="location.href='@Url.Action("SocialEngineeringFive", "SocialEngineering")';return false;">&raquo;</a>
                </li>
            </ul>
        </div>
    </footer>
