
@{
    ViewBag.Title = "Sitemap";
}
<title>@ViewBag.Title</title>
<h2>Sitemap</h2>
<div class="col-md-3">
    <h2><u>About Us</u></h2>
    <a href='@Url.Action("AboutUs", "About")'>Index</a>
    <br />
    <a href='@Url.Action("Registration", "User")'>Register</a>
</div>
<div class="col-md-3">
    <h2><u>Social Engineering</u></h2>
    <a href='@Url.Action("SocialEngineering", "SocialEngineering")'>Introduction</a>
    <br />
    <a href='@Url.Action("SocialEngineeringTwo", "SocialEngineering")'>A Look at Social Engineering</a>
    <br />
    <a href='@Url.Action("SocialEngineeringThree", "SocialEngineering")'>Types of Attacks</a>
    <br />
    <a href='@Url.Action("SocialEngineeringFour", "SocialEngineering")'>How to Prevent and protect against attacks</a>
    <br />
    <a href='@Url.Action("SocialEngineeringFive", "SocialEngineering")'>Quiz</a>
</div>
<div class="col-md-3">
    <h2><u>Encryption</u></h2>
    <a href='@Url.Action("Encryption", "Encryption")'>Index</a>
</div>
<div class="col-md-3">
    <h2><u>Q&A</u></h2>
    <a href='@Url.Action("QANDA", "QANDA")'>Index</a>
    <a href='@Url.Action("ContactUs", "ContactUs")'>Contact Us(Enquiry)</a>

</div>
<div class="col-md-3">
    <h2><u>Contact Us</u></h2>
    <a href='@Url.Action("ContactUs", "ContactUs")'>Index</a>
    <br />

</div>
<div class="col-md-3">
    <h2><u>Account</u></h2>
    <a href='@Url.Action("Login", "User")'>Log-in</a>
    <br />
    <a href='@Url.Action("Registration", "User")'>Register</a>
</div>
<br />


<div class="col-md-12">
    <img class="img-responsive" src="~/images/Sitemap.jpg" alt="Image of the sitemap.">
</div>